/* global  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}
ol,ul{
    list-style: none;
}
img{
    vertical-align: middle;
}
a{
    text-decoration: none;
    color: #83888F;
    font-family: 'Barlow', sans-serif;
    letter-spacing: 0.92px;
    line-height: 15px;
    font-size: 12px;
    font-weight: 700;
}
a:active,a:hover{
    text-decoration: none;
    color: #222;
    font-family: 'Barlow', sans-serif;
    letter-spacing: 0.92px;
    line-height: 15px;
    font-size: 12px;
    font-weight: 700;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-top: 30px;
}
.header-nav-list{
    display: flex;
    align-items: center;
    gap: 33px;
}




.index-hero-container{
    background-image: url("/images/index-hero.png");
    background-repeat: no-repeat;
    margin-bottom: 120px;
}
.index-hero-container h2{
    font-size: 72px;
    line-height: 72px;
    font-weight: 900;
    font-family: 'Fraunces', serif;
    margin-bottom: 39px;
    padding-top: 80px;
    color: #FEFCF7;
    margin-left: 20px;
}
.index-hero-container p{
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    opacity: 80%;
    line-height: 26px;
    font-size: 16px;
    color: #FEFCF7;
    margin-bottom: 50px;
    margin-left: 20px;
}
.index-hero-container a button{
    width: 217px;
    height: 56px;
    background-color: #0E8784;
    color: #FEFCF7;
    border: #0E8784 1px solid;
    border-radius: 10px;
    margin-bottom:140px ;
    margin-left: 20px;
    font-size: 18px;
    font-family: 'Fraunces', serif;
    line-height: 25px;
    text-align: center;
}
/* create your plan active  */
.index-hero-container a button:active{
    width: 217px;
    height: 56px;
    background-color: #66D2CF;
    color: #FEFCF7;
    border: #66D2CF 1px solid;
    border-radius: 10px;
    margin-bottom:140px ;
    margin-left: 20px;
    font-size: 18px;
    font-family: 'Fraunces', serif;
    line-height: 25px;
    text-align: center;
}
.our-collection-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.our-collection-list img{
    margin-bottom: 71.55px;
    width: 255px;
    height: 193px;
}
.our-collection-list h2{
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 24px;
    text-align: center;
    color: #333D4B;
    line-height: 32px;
    margin-bottom: 24px;
}
.our-collection-list p{
    color: #333D4B;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    font-family: 'Barlow', sans-serif;
    margin-bottom: 186px;
}
.wchu-container{
    background-image: url(/images/wchu-bg.png);
    background-repeat: no-repeat;
    margin-bottom: 350px;
}
.wchu-container-h2{
    text-align: center;
    font-family: 'Fraunces', serif;
    font-size: 40px;
    line-height: 48px;
    font-weight: 900;
    color: #FEFCF7;
    padding-top: 110px;
    margin-bottom: 32px;
}
.wchu-container p{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    opacity: 80%;
    font-family: 'Barlow', sans-serif;
    color: #FEFCF7;
    margin-bottom: 86px;
}
.wchu-list{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.wchu-item{
    background-color: #0E8784;
    width: 350px;
    max-height: max-content;
    text-align: center;
}
.wchu-item img{
    width: 72px;
    height: 72px;
    margin-top: 72px;
    margin-bottom: 56px;
}
.wchu-item h2{
    color: #FEFCF7;
    text-align: center;
    font-family: 'Fraunces', serif;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 24px;
}
.wchu-item p{
    color: #FEFCF7;
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 48px;
}


/* how it works */
.hiw-container h2{
    margin-bottom: 80px;
    color: #83888F;
    font-family: 'Fraunces', serif;
    font-size: 24px;
    line-height: 32px;

}

.oval-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url("/images/hiw-line.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 67px;
}
.hiw-list{
    display: flex;
    align-items: center;
    margin-bottom: 64px;
    justify-content: center;
    gap: 95px;
}
.hiw-item span{
    font-size: 72px;
    color: #FDD6BA;
    line-height: 64px;
    font-family: 'Fraunces', serif;
}
.hiw-item h2{
    color: #333D4B;
    font-size: 32px;
    line-height: 36px;
    font-family: 'Fraunces', serif;
    margin-top: 38px;
}
.hiw-item p{
    margin-top: 42px;
    font-weight: 400;
    color: #333D4B;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    line-height: 26px;
}
.hiw-container button{
    width: 217px;
    height: 56px;
    background-color: #0E8784;
    color: #FEFCF7;
    border: #0E8784 1px solid;
    border-radius: 10px;
    margin-bottom:140px ;
    margin-left: 20px;
    font-size: 18px;
    font-family: 'Fraunces', serif;
    line-height: 25px;
    text-align: center;
    margin-bottom: 200px;
}
.hiw-container button:active{
    width: 217px;
    height: 56px;
    background-color: #66D2CF;
    color: #FEFCF7;
    border: #66D2CF 1px solid;
    border-radius: 10px;
    margin-bottom:140px ;
    margin-left: 20px;
    font-size: 18px;
    font-family: 'Fraunces', serif;
    line-height: 25px;
    text-align: center;
    margin-bottom: 200px;
}

/* footer start */
.footer-container{
    border: 1px solid #2c343e;
    border-radius: 15px;
    padding: 47px 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2C343E;
    margin-bottom: 88px;
}
.footer-logo{
    margin-right: 102.9px;
    width: 236px;
    height: 26px;
}
.footer-list{
    display: flex;
    align-items: center;
    gap: 33px;
    /* margin-right: 171px; */
}
.advertising{
    display: flex;
    align-items: center;
    gap: 24px;
}



/* about us start  */

.about-us-hero-container{
    background-image: url('/images/about-us-bg.png');
    background-repeat: no-repeat;
    width: 1100px;
    height: 450px;
    margin-bottom: 168px;
}
.about-us-hero-container h2{
    padding-top: 137px;
    margin-bottom: 24px;
    font-size: 40px;
    font-weight: 900;
    font-family: 'Fraunces', serif;line-height: 48px;
    color: #FEFCF7;
}
.about-us-hero-container p{
    margin-bottom: 137px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    font-family: 'Barlow', sans-serif;
}
.oc-container{
    display: flex;
    align-items: center;
    margin-bottom: 158px;
}
.oc-left{
    height: 520px;
    margin-right: 125px;
}
.oc-right h2{
    margin-bottom: 32px;
    color: #333D4B;
    font-size: 40px;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    line-height: 48px;
}
.oc-right p{
    opacity: 80%;
    font-size: 16px;
    color: #333D4B;
    font-weight: 400;
    line-height: 26px;
    font-family: 'Barlow', sans-serif;
}
.uq-container{
    background-color: #333D4B;
    width: 1100px;
    height: 474px;
    margin-bottom: 168px;
    display: flex;
    position: relative;
}
.uq-left h2{
    margin-top: 100px;
    color: #FEFCF7;
    font-size: 40px;
    line-height: 48px;
    font-weight: 900;
    font-family: 'Fraunces', serif;
    margin-bottom: 32px;
}
.uq-left p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    font-family: 'Barlow', sans-serif;
    color: #FEFCF7;

}
.uq-right{
    position: absolute;
    right: 20px;
    top: -80px;

}
.oh-container{
    margin-bottom: 168px;

}
.oh-container-h2{
    color: #83888F;
    font-size: 24px;
    line-height: 32px;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    margin-bottom: 72px;
}
.oh-list{
    display: flex;
    justify-content: space-between;
}
.oh-item img{
    margin-bottom: 46px;
}
.oh-item h2{
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    margin-bottom: 24px;
}
.oh-item p{
    font-family: 'Barlow', sans-serif;
    color: #333D4B;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}
/* create your plan */
.hero-container{
    background-image: url("/images/create-hero.png");
    background-repeat: no-repeat;
    height: 450px;
    margin-bottom: 168px;
}
.hero-container h2{
    padding-top: 120px;
    margin-bottom: 32px;
    font-family: 'Fraunces', serif;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
    margin-left: 86px;
}
.hero-container p{
    color: #FEFCF7;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-family: 'Barlow', sans-serif;
    margin-left: 86px;
}
.select-container{
    background-color:#2C343E;
    border: 1px solid #2C343E;
    border-radius: 10px;
    width: 1100px;
    margin-bottom: 120px;
}
#create-oval-list{
    padding-top: 119px;
    justify-content: space-evenly;
    gap:200px;
    background-position: 145px 132px;
    margin-bottom: 82px;
}
.create-list{
    display: flex;
    justify-content: space-between;
}
.create-list span{
    color: #FDD6BA;
    font-size: 72px;
    line-height: 72px;
    font-family: 'Fraunces', serif;
    margin-bottom: 38px;
    font-weight: 900;
}
.create-list h2{
    font-family: 'Fraunces', serif;
    font-size: 32px;
    line-height: 36px;
    color: #FEFCF7;
    margin-bottom: 42px;
}
.create-list p{
    color: #FEFCF7;
    font-size:16px;
    line-height: 26px;
    font-weight: 400;
    font-family: 'Barlow', sans-serif;
    margin-bottom: 120px;
}
.create-bottom-container{
    display: flex;
    justify-content: space-between;
}
.create-bottom-left{

}
.bottom-left-item{
    display: flex;
    align-items: center;
}
.bottom-left-item span{
    color: #0E8784;
    font-size: 24px;
    line-height: 32px;
    font-weight: 900;
    font-family: 'Fraunces', serif;
    margin-right: 30px;
}
.bottom-left-item h2{
    font-family: 'Fraunces', serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 900;

}
.capsule{
    margin-bottom: 88px;
}

.coffee-list{
    display: flex;
    align-items: center;
}
.coffee-item h2{
    margin-right: 80px;
    font-size: 40px;
    color: #83888F;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    margin-bottom: 56px;
}
.coffee-item img{
    margin-bottom: 56px;
}
.capsule-list{
    display: flex;
    align-items: center;
    gap: 23px;
}
.capsule-item{
    color: #333D4B;
    background-color: #F4F1EB;
    width: 228px;
    height: 250px;
    border-radius: 8px;
}
.capsule-item:hover{
    background-color: #0E8784;
    color: #FEFCF7;
    width: 228px;
    height: 250px;
    border-radius:8px ;
}
.capsule-item h2{
    margin-left: 28px;
    padding-top: 32px;
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    font-family: 'Fraunces', serif;
}
.capsule-item p{
    margin-left: 28px;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    margin-bottom: 84px;
}
.type-list{
    display: flex;
    align-items: center;
    margin-bottom: 56px;
}
.type-list h2{
    margin-right: 80px;
    font-size: 40px;
    color: #83888F;
    font-family: 'Fraunces', serif;
    font-weight: 900;
}
.decaf-list{
    display: flex;
    align-items: center;
    gap: 23px;
    margin-bottom: 88px;
}
.decaf-item{
    color: #333D4B;
    background-color: #F4F1EB;
    width: 228px;
    height: 250px;
    border-radius: 8px;
}
.decaf-item:hover{
    background-color: #0E8784;
    color: #FEFCF7;
    width: 228px;
    height: 250px;
    border-radius:8px ;
}
.decaf-item h2{
    margin-left: 28px;
    padding-top: 32px;
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    font-family: 'Fraunces', serif;
}

.decaf-item p{
    margin-left: 28px;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    margin-bottom: 84px;
}
.weight-list{
    display: flex;
    align-items: center;
    margin-bottom: 56px;
}
.weight-list h2{
    margin-right: 80px;
    font-size: 40px;
    color: #83888F;
    font-family: 'Fraunces', serif;
    font-weight: 900;
}
.massa-list{
    display: flex;
    align-items: center;
    gap: 23px;
    margin-bottom: 88px;
}
.massa-item{
    color: #333D4B;
    background-color: #F4F1EB;
    width: 228px;
    height: 250px;
    border-radius: 8px;
}
.massa-item:hover{
    background-color: #0E8784;
    color: #FEFCF7;
    width: 228px;
    height: 250px;
    border-radius:8px ;
}
.massa-item h2{
    margin-left: 28px;
    padding-top: 32px;
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    font-family: 'Fraunces', serif;
}
.massa-item p{
    margin-left: 28px;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    margin-bottom: 84px;
}
.grind-list{
    display: flex;
    align-items: center;
    margin-bottom: 56px;
}
.grind-list h2{
    margin-right: 80px;
    font-size: 40px;
    color: #83888F;
    font-family: 'Fraunces', serif;
    font-weight: 900;
}
.filter-list{
    display: flex;
    align-items: center;
    gap: 23px;
    margin-bottom: 88px;
}
.filter-item{
    color: #333D4B;
    background-color: #F4F1EB;
    width: 228px;
    height: 250px;
    border-radius: 8px;
}
.filter-item:hover{
    background-color: #0E8784;
    color: #FEFCF7;
    width: 228px;
    height: 250px;
    border-radius:8px ;
}
.filter-item h2{
    margin-left: 28px;
    padding-top: 32px;
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    font-family: 'Fraunces', serif;
}
.filter-item p{
    margin-left: 28px;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    margin-bottom: 84px;
}
.deliver-list{
    display: flex;
    align-items: center;
    margin-bottom: 56px;
}
.deliver-list h2{
    margin-right: 80px;
    font-size: 40px;
    color: #83888F;
    font-family: 'Fraunces', serif;
    font-weight: 900;
}
.bring-list{
    display: flex;
    align-items: center;
    gap: 23px;
    margin-bottom: 88px;
}
.bring-item{
    color: #333D4B;
    background-color: #F4F1EB;
    width: 228px;
    height: 250px;
    border-radius: 8px;
}
.bring-item:hover{
    background-color: #0E8784;
    color: #FEFCF7;
    width: 228px;
    height: 250px;
    border-radius:8px ;
}
.bring-item h2{
    margin-left: 28px;
    padding-top: 32px;
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    font-family: 'Fraunces', serif;
}
.bring-item p{
    margin-left: 28px;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    margin-bottom: 84px;
}
.order-summary{
    background-color:#2C343E ;
    border-radius: 8px;
    border: 1px solid #2C343E;
    margin-bottom: 60px;
}
.order-summary h2{
    margin-left: 64px;
    padding-top: 31px;
    color: #FFF;
    font-size: 16px;
    line-height: 26px;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    margin-bottom: 8px;
}
.order-summary p{
    font-size: 24px;
    margin-left: 64px;
    color: #FFF;
    font-weight: 900;
    font-family: 'Fraunces', serif;
    line-height: 40px;
    margin-bottom: 31px;
}
.green{
    color: #0E8784;
    font-family: 'Fraunces', serif;
    line-height: 40px;
    font-weight: 900;
    font-size: 24px;
}
.create-btn{
    width: 217px;
    height: 56px;
    background-color: #0E8784;
    color: #FEFCF7;
    border: #0E8784 1px solid;
    border-radius: 10px;
    margin-bottom:170px ;
    margin-left: 20px;
    font-size: 18px;
    font-family: 'Fraunces', serif;
    line-height: 25px;
    text-align: center;
}
font-family: 'Fraunces', serif;
font-family: 'Barlow', sans-serif;
